.table-container {
    padding: 2rem;
    background-color: #dad6d6;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
 
  
  .custom-table {
    width: 50%;
    /* border-collapse: collapse; */
    text-align: left;
   
  }
  
  .custom-table th {
    background-color: #8d9094;
    padding: 12px 15px;
    color: #ebf5f5;
    text-transform: uppercase;
    font-size: 13px;
    border-bottom: 2px solid #a0a1a1;
  }
  
  .custom-table td {
    padding: 15px;
    border-bottom: 1px solid #e2e8f0;
    color: #1e293b;
  }
  
  .action-btn.delete { background-color: #ffe4e6; color: #be123c; }

  /* --- Search Box Dark Mode --- */
.table-container.dark .custom-table  tr td {
    background-color: #1e1e1e !important;
    color: white ;
    border: 1px solid #333 !important;
  }
/* --- Light Mode --- */
.table-container.light .custom-table  tr td {
    background-color: #ffffff !important;
    color: #000000 !important;
  }
  
  