.model-backdrop
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(94, 94, 94);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.model{
    background: #fff;
    padding: 30px 20px;
    width: 400px;
    border-radius: 10px;
    text-align: center;
}

.model h2{
    margin-bottom: 10px;
}

.model p{
    color: #555;
    margin-bottom: 20px;
}

.model-actions{
    display: flex;
    justify-content: center;
    gap: 14px;
}

.btn-cancel{
    background: #969696;
    border: 0;
}

.btn-delete{
    background: crimson;
    color: #fff;
    border: 0;
}

.btn3{
    border-radius: 5px;
    padding: 6px 10px;
    border: none;
    color: white;
    cursor: pointer;
}