.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgb(94, 94, 94);
  z-index: 1000;   
  display: flex;
  justify-content: center;
  align-items: center;
}


.modal {
  background: #fff;
  padding: 25px;
  width: 350px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.modal h2 {
  margin-bottom: 15px;
  text-align: center;
  color:rgb(22, 24, 24);
}

.modal input,
.modal select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
}

.cancel {
  background: #ccc;
  border: none;
  padding: 8px 15px;
  margin-left: 160px;
}

.save {
  background: rgb(94, 94, 94);
  color: white;
  border: none;
  padding: 8px 15px;
}
