* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}


html, body {
  width: 100%;
  height: auto;
  overflow-y: auto;
  background-color: #f5f6f7;
}


.login-page {
  display: flex;
  width: 100%;
  height: 100vh;
  overflow: hidden;   
}

.login-left {
  width: 50%;
  height: 100%;
}

.login-left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.login-right {
  width: 50%;
  height: 100%;
  background-color: #f5f6f7;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 120px;
}


.form {
  display: flex;
  flex-direction: column;
  align-items: center;

  max-height: calc(100vh - 200px);
  overflow-y: auto;                
  padding-bottom: 20px;
}


.login-right h2 {
  font-size: 32px;
  margin-bottom: 8px;
}

.login-right p {
  font-size: 16px;
  margin-bottom: 25px;
  color: #555;
}


.area,
.input-field {
  width: 360px;
  padding: 12px;
  margin-bottom: 14px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 15px;
}


.btn1 {
  width: 360px;
  padding: 12px;
  margin-bottom: 14px;
  background-color:rgb(94, 94, 94);
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}


.error {
  width: 360px;
  color: red !important;
  font-size: 13px;
  text-align: center;
  margin: 4px auto 12px;
}
