.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding: 12px 20px;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  
  .page-btn {
    padding: 8px 16px;
    border: none;
    border-radius: 6px;
    background:rgb(94, 94, 94);
    color: white;
    font-size: 14px;
    cursor: pointer;
    
  }

  .page-info {
    font-size: 14px;
    color: #374151;
  }

  .page-btn:disabled {
    background-color: #d1d5db;
    color: black;
  }
  