.container{
    display: flex;
    text-align: center;
    max-width: 2000px;
    flex-wrap:wrap;
    gap: 20px;
    margin: 0 auto;
    background-color: rgb(122, 121, 121);
    
}
.btn-scroll {
    position: fixed;   
    bottom: 30px;      
    left: 95%;        
    width: 50px;       
    height: 50px;
    cursor: pointer;
    z-index: 1000;     
    border-radius: 50%; 
  
    padding: 10px;
    object-fit: contain;
}

  
 

.title{
    text-align: center;
}

/* આખા પેજ પરથી વધારાની જગ્યા કાઢવા માટે */
body, html {
    margin:1 0;
    padding: 10;
    background-color: transparent; /* અથવા જે-તે મોડ મુજબનો કલર */
  }
  
  /* Component વચ્ચેની ગેપ કાઢવા */
  .page-container, .explore-page, .post-detail {
    margin-top: 10px!important;
    padding-top: 20px; /* માર્જિન ને બદલે પેડિંગ વાપરવું */
  } .page-container, .explore-page, .post-detail {
    margin-bottom: 10px!important;
    padding-bottom: 20px; /* માર્જિન ને બદલે પેડિંગ વાપરવું */
  }